extends _layout
include _partial/article

prepend head
    - var title = site.title
    title= title
    meta(itemprop='name', content=title)
    meta(name='description', itemprop='description', content=site.description)
    meta(name='keywords', content=site.keywords.join(','))

block rightside
    #articles
        each post in posts
            +article(post)
    include _partial/paginator